main {
    padding: 15px;
    width: 100%;
    }
    body{
      background-color: #C0C0C0;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 1rem;
      text-align: center;
      background-color: rgba(#333333, 0.63);
    }

    p {
      text-align: justify;
    }

    h1{
        font-size: 4rem;
        text-align: center;
    }

    h3{
      font-size: 20px;
    }

    ul{
      display: inline-block;
      font-size: 1rem;
    }

    ul>li{
      margin: 0 auto 10px auto;
      line-height: 1.6;
    }
    #responsive-img {
            display: flex;
            max-width: 100%;
            height: auto;
            align-content: center;
        }
    #img-div {
        display: flex;
        max-width: 100%;
        height: auto;
        align-self: center;
        background-color: white;
    }
